ACCESS_TOKEN=your_token
DOMAIN=example.com
# The IDs of the record(s) you want to update, separated with spaces
RECORD_IDS=(12345 23456)
# Which ip name service checker do you wish to use? (Choose `AWS` or `IPINFO`)
IP_SERVICE=AWS
